<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style>
            .box {
                padding-top: 30px;
                width: 200px;
                height: 150px;
                background-color: #ccc;
                box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.28);
            }
        </style>
    </head>

    <body>
        <div id="root">
            <div class="box">
                <p>姓：<input type="text" v-model="firstName"></p>
                <p>名：<input type="text" v-model="lastName"></p>
                <h3>全名:{{firstName}}-{{lastName}}</h3>
            </div>

        </div>

        <script src="../js/vue.js"></script>

        <script type="text/javascript">
            new Vue({
                el: '#root',
                data: {
                    firstName: '张',
                    lastName: '三'
                }
            })
        </script>
    </body>

</html>